<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>
<body>
    <h1>Community Cards</h1>
    <div>{{ .FaceUpCards }}</div>

    <h1>Players List</h1>
    {{range .Players}}
        <div>
            <h2>PlayerID: {{.PlayerId}}</h2>
            <p>CombinationID: {{.HandData.CombinationId}}</p>
            <p>Player Hand: {{.HandData.PlayerHand}}</p>
        </div>
    {{end}}
</body>
</html>
