body {
    display: flex;
    height: 100vh;
    background-color: #2a2a2a;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.main-content {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poker-table {
    width: 75%;
    height: 85%;
    background: radial-gradient(circle at center, #008000, #003800);
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 25%;
    height: 100%;
    background-color: #1a1a1a;
    filter: blur(10px);
    transition: filter 0.3s ease-in-out;
    position: fixed;
    right: 0;
    top: 0;
}

.sidebar:hover {
    filter: blur(0);
}

.community-cards {
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
 
.card {
    width: 60px;
    height: 90px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    font-size: 1.5em;
}
 
.card.Hearts, .card.Diamonds {
    color: red;
}
 
.card.Spades, .card.Clubs {
    color: black;
}
 
.player {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}
 
.player1 { top: 7%; left: 37.5%; transform: translate(-50%, -50%); }
.player2 { top: 15%; right: 42%; transform: translate(50%, -50%); }
.player3 { top: 46.1%; right: 33%; transform: translate(50%, -50%); }
.player4 { top: 85%; right: 42%; transform: translate(50%, -50%); }
.player5 { bottom: 7%; left: 37.5%; transform: translate(-50%, 50%); }
.player6 { bottom: 15%; left: 17%; transform: translate(-50%, 50%); }
.player7 { top: 46.1%; left: 8%; transform: translate(-50%, -50%); }
.player8 { top: 15%; left: 17%; transform: translate(-50%, -50%); }
 
.hand {
    display: flex;
    gap: 10px;
}
 
.name {
    margin-bottom: 5px;
}

.main-content .new-game button {
    background-color: #008000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.main-content .new-game button:hover {
    background-color: #004d00;
}
